@charset "UTF-8";
article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: top; }

button,
input,
select,
textarea {
  font: inherit; }

.facebook:hover .icon {
  fill: #3b5998; }

.twitter:hover .icon {
  fill: #55acee; }

.gplus:hover .icon {
  fill: #dd4b39; }

.instagram:hover .icon {
  fill: #405de6; }

.vimeo:hover .icon {
  fill: #1ab7ea; }

.pinterest:hover .icon {
  fill: #bd081c; }

.youtube:hover .icon {
  fill: #cd201f; }

.linkedin:hover .icon {
  fill: #0077B5; }

.buffer:hover .icon {
  fill: #222222; }

.mix:hover .icon {
  fill: #f77e25; }

/* Typography
   ========================================================================== 
*/
html {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth; }
  html {
    font-size: 1rem; }
    @media screen and (min-width: 20rem) {
      html {
        font-size: calc(1rem + 0.1 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      html {
        font-size: 1.1rem; } }

body {
  background: #ffffff;
  color: #343434;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -ms-scroll-chaining: none;
  overscroll-behavior: none; }

a {
  color: #dd2c00;
  text-decoration: none;
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out; }

a:hover {
  color: #343434; }

a:active {
  color: #343434; }

a:focus {
  color: #343434; }

.inverse {
  color: #343434;
  text-decoration: none;
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out; }

.inverse:hover {
  color: #dd2c00; }

.inverse:active {
  color: #dd2c00; }

.inverse:focus {
  color: #dd2c00; }

p,
ul,
ol,
dl,
table {
  margin-top: calc(1.06667rem + 0.25vw); }

blockquote,
figure {
  margin-top: calc(1.6rem + 1vw);
  margin-bottom: calc(1.6rem + 1vw); }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #343434;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.2;
  margin-top: calc(1.6rem + 1vw);
  text-transform: uppercase; }

h1,
.u-h1 {
  line-height: 1;
  margin: 0; }
  h1,
  .u-h1 {
    font-size: 1.67583rem; }
    @media screen and (min-width: 20rem) {
      h1,
      .u-h1 {
        font-size: calc(1.67583rem + 2.46066 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      h1,
      .u-h1 {
        font-size: 4.13649rem; } }

h2,
.u-h2 {
  font-size: 1.29454rem; }
  @media screen and (min-width: 20rem) {
    h2,
    .u-h2 {
      font-size: calc(1.29454rem + 0.27655 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h2,
    .u-h2 {
      font-size: 1.57109rem; } }

h3,
.u-h3 {
  font-size: 1.13778rem; }
  @media screen and (min-width: 20rem) {
    h3,
    .u-h3 {
      font-size: calc(1.13778rem + 0.24306 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h3,
    .u-h3 {
      font-size: 1.38084rem; } }

h4,
.u-h4 {
  font-size: 1.06667rem; }
  @media screen and (min-width: 20rem) {
    h4,
    .u-h4 {
      font-size: calc(1.06667rem + 0.14696 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h4,
    .u-h4 {
      font-size: 1.21363rem; } }

h5,
.u-h5 {
  font-size: 0.9375rem; }
  @media screen and (min-width: 20rem) {
    h5,
    .u-h5 {
      font-size: calc(0.9375rem + 0.12917 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h5,
    .u-h5 {
      font-size: 1.06667rem; } }

h6,
.u-h6 {
  font-size: 0.87891rem; }
  @media screen and (min-width: 20rem) {
    h6,
    .u-h6 {
      font-size: calc(0.87891rem + 0.12109 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h6,
    .u-h6 {
      font-size: 1rem; } }

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: calc(0.8rem + 0.25vw); }

b,
strong {
  font-weight: 700; }

blockquote {
  font-family: "Playfair Display", serif;
  padding: 0 15%; }
  blockquote {
    font-size: 1.13778rem; }
    @media screen and (min-width: 20rem) {
      blockquote {
        font-size: calc(1.13778rem + 0.33512 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      blockquote {
        font-size: 1.4729rem; } }
  blockquote cite {
    color: #343434;
    display: block;
    font-family: "Arimo", sans-serif;
    font-size: 0.87891rem;
    font-style: normal;
    padding-top: 0.53333rem; }
  blockquote > :nth-child(1) {
    margin-top: 0; }
  blockquote:before {
    display: block;
    height: 0;
    content: "“";
    margin-left: -.55em;
    font: normal 400%/0.9 "Playfair Display", serif;
    color: #e3e3e3; }
    @media all and (min-width: 37.5em) {
      blockquote:before {
        margin-left: -.85em; } }

ul,
ol {
  margin-left: 2rem; }
  ul > li,
  ol > li {
    list-style: inherit;
    padding: 0 0 0.26667rem 1.06667rem; }

dl dt {
  font-weight: 700; }

pre {
  margin: calc(1.06667rem + 0.25vw) 0 0;
  padding: 1.6rem 3.2rem;
  white-space: pre-wrap;
  word-wrap: break-word; }

code,
pre {
  background-color: #f6f6f6;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 0.9375rem; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: top;
  text-align: left;
  white-space: nowrap; }
  table th {
    border-bottom: 2px solid #e3e3e3;
    padding: 0.8rem 1.33333rem; }
  table tr:nth-child(2n) {
    background: whitesmoke; }
  table td {
    padding: 0.8rem 1.33333rem; }

figcaption {
  clear: both;
  color: #59585F;
  font-size: 0.87891rem;
  margin: 0.8rem 0 0;
  text-align: center; }

sub,
sup {
  font-size: 65%; }

hr {
  background: 0 0;
  border: none;
  height: auto;
  line-height: 1;
  margin-top: calc(1.6rem + 0.25vw);
  margin-bottom: calc(1.6rem + 0.25vw);
  max-width: none;
  text-align: center; }
  hr::before {
    content: "\2022 \2022 \2022";
    color: #343434;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1rem;
    padding-left: 1rem; }

.btn, [type=button],
[type=submit],
button {
  background: none;
  border: 1px solid #343434;
  color: #343434;
  cursor: pointer;
  display: inline-block;
  font: 700 0.7242rem "Arimo", sans-serif;
  letter-spacing: 0.15rem;
  padding: 0.93333rem 2.13333rem;
  vertical-align: middle;
  text-align: center;
  text-transform: lowercase;
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  width: 100%; }
  @media all and (min-width: 20em) {
    .btn, [type=button],
    [type=submit],
    button {
      width: auto; } }
  .btn:hover, :hover[type=button],
  :hover[type=submit],
  button:hover, .btn:focus, :focus[type=button],
  :focus[type=submit],
  button:focus {
    background: #343434;
    border-color: #343434;
    color: #ffffff; }
  .btn:focus, :focus[type=button],
  :focus[type=submit],
  button:focus {
    outline: 2px dotted #343434; }
  .btn:disabled, :disabled[type=button],
  :disabled[type=submit],
  button:disabled {
    background-color: whitesmoke;
    border-color: #cccccc;
    color: #59585F;
    cursor: not-allowed; }
  .btn:active, :active[type=button],
  :active[type=submit],
  button:active {
    border: 1px solid #343434; }
  @media all and (max-width: 19.9375em) {
    .btn + .btn, [type=button] + .btn, [type=submit] + .btn, button + .btn, .btn + [type=button], [type=button] + [type=button], [type=submit] + [type=button], button + [type=button],
    .btn + [type=submit],
    [type=button] + [type=submit],
    [type=submit] + [type=submit],
    button + [type=submit],
    .btn + button,
    [type=button] + button,
    [type=submit] + button,
    button + button {
      margin-top: 0.53333rem; } }
  .btn--inverse, .newsletter button,
  .newsletter .button {
    background: #343434;
    border-color: #343434;
    color: #ffffff; }
    .btn--inverse:hover, .newsletter button:hover,
    .newsletter .button:hover, .btn--inverse:focus, .newsletter button:focus,
    .newsletter .button:focus {
      background: none;
      border: 1px solid #343434;
      color: #343434; }

[type=button],
[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none; }

fieldset {
  border: 1px solid #d6d6d6;
  margin: 0 0 1.6rem;
  padding: 1.6rem; }
  fieldset > legend {
    margin-left: -1rem;
    padding: 0 1rem; }

legend {
  font-weight: 700; }

label {
  font-weight: 700;
  margin: 0 1.06667rem 0.8rem 0; }

option {
  font-weight: 400; }

[type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
  background-color: #ffffff;
  border: none;
  border: 1px solid #d6d6d6;
  font-size: 1rem;
  outline: none;
  padding: 0.53333rem 0.8rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none; }
  @media all and (min-width: 37.5em) {
    [type=text],
    [type=url],
    [type=tel],
    [type=number],
    [type=email],
    [type=search],
    textarea,
    select {
      width: auto; } }
  [type=text]:focus,
  [type=url]:focus,
  [type=tel]:focus,
  [type=number]:focus,
  [type=email]:focus,
  [type=search]:focus,
  textarea:focus,
  select:focus {
    border-color: #343434; }

input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute; }
  input[type=checkbox] + label,
  input[type=radio] + label {
    position: relative;
    margin-left: -1px;
    cursor: pointer;
    padding: 0; }
    input[type=checkbox] + label:before,
    input[type=radio] + label:before {
      background-color: #ffffff;
      border: 1px solid #d6d6d6;
      border-radius: 2px;
      content: '';
      display: inline-block;
      height: 1.33333rem;
      line-height: 1.33333rem;
      margin-right: 1.06667rem;
      vertical-align: middle;
      text-align: center;
      width: 1.33333rem; }
  input[type=checkbox]:checked + label:before,
  input[type=radio]:checked + label:before {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%23dd2c00'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 11px 8px;
    background-position: 50% 50%; }

input[type=radio] + label:before {
  border-radius: 50%; }

input[type=radio]:checked + label:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3ccircle cx='4' cy='4' r='4' fill='%23dd2c00'/%3e%3c/svg%3e"); }

[type=file] {
  margin-bottom: 1.6rem;
  width: 100%; }

select {
  max-width: 100%;
  width: auto;
  position: relative; }
  select:not([multiple]) {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%238a8b8c"/></svg>') no-repeat 90% 50%;
    background-size: 8px;
    padding-right: 3.2rem; }

select[multiple] {
  border: 1px solid #d6d6d6;
  padding: 1.6rem;
  width: 100%; }
  select[multiple]:hover {
    border-color: #d6d6d6; }
  select[multiple]:focus {
    border-color: #343434; }
  select[multiple]:disabled {
    background-color: whitesmoke;
    cursor: not-allowed; }
    select[multiple]:disabled:hover {
      border-color: #d6d6d6; }

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  max-width: 100%; }

/* Wrapper + Header ------------------------ */
.container {
  background: #ffffff;
  margin: 0 auto;
  max-width: calc(83rem + 8%);
  position: relative;
  padding: 2% 4%; }
  @media all and (min-width: 56.25em) {
    .container {
      padding: 4rem 4%; } }
  .container > header {
    background: #ffffff;
    position: fixed;
    -webkit-transition: all 0.24s ease-out;
    -o-transition: all 0.24s ease-out;
    transition: all 0.24s ease-out;
    -webkit-transform: translateY(2%);
    -ms-transform: translateY(2%);
    transform: translateY(2%);
    width: 92%;
    z-index: 999; }
    @media all and (max-width: 56.1875em) {
      .container > header {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    @media all and (min-width: 56.25em) {
      .container > header {
        padding-bottom: 3.2rem;
        max-width: 83rem;
        text-align: center; } }
    .container > header:before {
      background: #ffffff;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      z-index: 0;
      width: 400%; }
    .container > header.is-sticky-off {
      -webkit-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
      transform: translateY(-150%); }
    .container > header.is-sticky-on {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0.53333rem 0;
      z-index: 999;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      top: 0;
      width: 92%; }
      .container > header.is-sticky-on .logo {
        font-size: 1.67583rem;
        padding: 0; }
      .container > header.is-sticky-on .navbar__menu {
        margin: 0; }
      .container > header.is-sticky-on .search-btn {
        top: auto; }
      .container > header.is-sticky-on .search-btn + .navbar {
        margin-right: 1.6rem; }

/* Logo ------------------------ */
.logo {
  color: #343434 !important;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  position: relative;
  z-index: 1; }
  .logo {
    font-size: 1.67583rem; }
    @media screen and (min-width: 20rem) {
      .logo {
        font-size: calc(1.67583rem + 1.73253 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      .logo {
        font-size: 3.40836rem; } }
  @media all and (min-width: 56.25em) {
    .logo {
      margin: 0; } }

.search-btn {
  background: none !important;
  border: none;
  padding: 0;
  position: absolute;
  right: 3rem;
  width: auto; }
  @media all and (min-width: 56.25em) {
    .search-btn {
      right: 0;
      top: 18%; } }
  .search-btn > svg {
    display: inline-block;
    height: 0.9rem;
    -webkit-transition: all 0.12s linear 0s;
    -o-transition: all 0.12s linear 0s;
    transition: all 0.12s linear 0s;
    width: 0.9rem; }
  .search-btn:hover svg {
    fill: #dd2c00; }

.search__input {
  border: none;
  border-bottom: 2px solid #e3e3e3;
  display: none;
  font-size: 1.13778rem;
  opacity: 0;
  width: 83rem;
  -webkit-transition: all 0.48s ease-in-out;
  -o-transition: all 0.48s ease-in-out;
  transition: all 0.48s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.search__close {
  border: none;
  color: transparent;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  right: 0%;
  text-indent: -999rem;
  -webkit-transition: all 0.48s ease-in-out;
  -o-transition: all 0.48s ease-in-out;
  transition: all 0.48s ease-in-out;
  top: 2.5rem;
  width: auto; }
  .search__close:before, .search__close:after {
    background-color: #343434;
    content: '';
    left: 1rem;
    height: 2rem;
    opacity: 0.4;
    position: absolute;
    width: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .search__close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .search__close:hover {
    background: none; }
    .search__close:hover:before, .search__close:hover:after {
      background-color: #dd2c00;
      opacity: 1; }

.search__overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: all 0.48s;
  -o-transition: all 0.48s;
  transition: all 0.48s;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  opacity: 0;
  visibility: hidden; }
  .search__overlay.expanded {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    z-index: 100000000;
    display: block;
    visibility: visible; }
    .search__overlay.expanded .search__input {
      -webkit-animation: slideininput 0.98s forwards;
      animation: slideininput 0.98s forwards;
      display: block; }

@-webkit-keyframes slideininput {
  60% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    max-width: 75%; } }

@keyframes slideininput {
  60% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    max-width: 75%; } }
    .search__overlay.expanded .search__close {
      -webkit-animation: slideinclose 0.98s forwards;
      animation: slideinclose 0.98s forwards; }

@-webkit-keyframes slideinclose {
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideinclose {
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Navigation ------------------------ */
.navbar__menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 0; }
  @media all and (max-width: 56.1875em) {
    .navbar__menu {
      background: #ffffff;
      height: 100vh;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 2.99rem;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      visibility: hidden;
      -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
      transform: translateY(-5%);
      width: 100%;
      z-index: 1; }
      .navbar__menu > li {
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        border-bottom: 1px solid #e3e3e3;
        padding: 0; } }
  @media all and (min-width: 56.25em) {
    .navbar__menu {
      max-height: none;
      margin: 2.13333rem 0 0;
      overflow: visible; } }
  .navbar__menu li {
    font-size: 0.67893rem;
    color: #343434;
    letter-spacing: 0.1rem;
    list-style: none;
    padding: 0;
    text-align: center;
    text-transform: uppercase; }
    @media all and (min-width: 56.25em) {
      .navbar__menu li {
        display: inline-block;
        font-weight: 700;
        padding: 0 1.06667rem;
        position: relative;
        z-index: 2001; } }
    .navbar__menu li:hover, .navbar__menu li[aria-expanded="true"] {
      cursor: pointer; }
      @media all and (min-width: 56.25em) {
        .navbar__menu li:hover > ul, .navbar__menu li[aria-expanded="true"] > ul {
          opacity: 1;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          visibility: visible; }
          .navbar__menu li:hover > ul li, .navbar__menu li[aria-expanded="true"] > ul li {
            margin: 0;
            display: block; } }
    .navbar__menu li a,
    .navbar__menu li span {
      display: block;
      color: #343434;
      white-space: nowrap; }
      @media all and (max-width: 56.1875em) {
        .navbar__menu li a,
        .navbar__menu li span {
          padding: 1.06667rem 0; } }
      .navbar__menu li a:after,
      .navbar__menu li span:after {
        content: "";
        display: block;
        margin: 0 auto; }
      .navbar__menu li a:hover:not(span),
      .navbar__menu li span:hover:not(span) {
        color: #dd2c00; }
    .navbar__menu li span {
      cursor: default; }

@media all and (max-width: 56.1875em) {
  .navbar__submenu {
    margin: 0; } }

@media all and (min-width: 56.25em) {
  .navbar__submenu {
    background: #ffffff;
    -webkit-box-shadow: 0 0 12px rgba(52, 52, 52, 0.1);
    box-shadow: 0 0 12px rgba(52, 52, 52, 0.1);
    left: auto;
    margin: 15px 0 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -webkit-transform: translate(0, -10%);
    -ms-transform: translate(0, -10%);
    transform: translate(0, -10%);
    visibility: hidden;
    width: auto;
    z-index: 2000; }
    .navbar__submenu:before {
      content: '';
      display: block;
      height: 15px;
      left: 0;
      position: absolute;
      top: -15px;
      width: 100%; }
    .navbar__submenu li {
      border-bottom: 1px solid rgba(52, 52, 52, 0.08);
      font-weight: normal;
      height: 100%;
      padding: 0; }
      .navbar__submenu li > a,
      .navbar__submenu li > span {
        padding: 0.8rem 2.66667rem;
        page-break-inside: avoid;
        white-space: nowrap; } }
      @media all and (min-width: 56.25em) and (max-width: 56.1875em) {
        .navbar__submenu li > a,
        .navbar__submenu li > span {
          padding: 0.26667rem 0; } }

@media all and (min-width: 56.25em) {
      .navbar__submenu li:hover > a {
        background: #343434;
        color: #ffffff !important; }
      .navbar__submenu li ul {
        left: 90%;
        top: 0;
        -webkit-transform: translate(-10%, 0);
        -ms-transform: translate(-10%, 0);
        transform: translate(-10%, 0); }
        .navbar__submenu li ul.navbar__submenu--reversed {
          left: auto;
          right: 90%;
          top: 0; }
    .col-2 .navbar__submenu {
      -webkit-column-count: 2;
      column-count: 2; }
    .col-3 .navbar__submenu {
      -webkit-column-count: 3;
      column-count: 3; } }

.navbar__toggle {
  background: none;
  border: none;
  border-top: 2px solid #343434;
  border-radius: 0;
  display: block;
  height: 14px;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0;
  text-indent: -99999rem;
  width: 1.6rem;
  z-index: 3; }
  @media all and (min-width: 56.25em) {
    .navbar__toggle {
      display: none; } }
  .navbar__toggle:before {
    border-top: 2px solid #343434;
    content: "";
    left: 0;
    position: absolute;
    top: 4px;
    width: 100%; }
  .navbar__toggle:after {
    border-bottom: 2px solid #343434;
    content: "";
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%; }
  .navbar__toggle:focus {
    background: none;
    outline: none;
    border: none;
    border-top: 2px solid #343434; }
  .navbar__toggle:hover {
    background: none; }

.is-opened > ul {
  opacity: 1;
  overflow: auto;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }
  .is-opened > ul li {
    padding: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
    .is-opened > ul li ul {
      height: 0;
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
      transform: translateY(-10%);
      visibility: hidden; }
      .is-opened > ul li ul li {
        border-top: 1px solid #e3e3e3; }
    .is-opened > ul li:hover > ul {
      height: auto;
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      visibility: visible; }
    .is-opened > ul li[aria-expanded="true"] > ul {
      display: block; }

@media all and (max-width: 56.1875em) {
  .has-submenu:after {
    background: #ffffff;
    border-right: 1px solid #343434;
    border-bottom: 1px solid #343434;
    content: '';
    display: block;
    height: 8px;
    position: absolute;
    right: 10px;
    top: 1rem;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px; } }

img[data-sizes="auto"] {
  display: block;
  width: 100%; }

@media all and (min-width: 37.5em) {
  .u-wrapper, .newsletter {
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto; } }

main {
  margin-top: 4rem; }
  @media all and (min-width: 56.25em) {
    main {
      margin: 0 auto;
      margin-top: calc(12rem + 2vw);
      width: 75%; } }

.hero {
  position: relative;
  text-align: center;
  margin-bottom: calc(3rem + 1vw);
  /* Thumbnails */ }
  @media all and (min-width: 37.5em) {
    .hero {
      margin-bottom: calc(6rem + 1vw); } }
  @media all and (min-width: 37.5em) {
    .hero--frontpage {
      top: 5.33333rem;
      margin-bottom: calc(5.33333rem + 6rem + 1vw);
      padding-bottom: 5.33333rem; } }
  @media all and (min-width: 37.5em) {
    .hero--frontpage:before {
      background: #f7f7f8;
      content: "";
      display: block;
      height: 100%;
      left: -4%;
      right: -4%;
      z-index: 0;
      position: absolute; } }
  @media all and (min-width: 56.25em) {
    .hero--frontpage:before {
      left: -16.66667%;
      right: -16.66667%; } }
  .hero__meta {
    color: #59585F;
    display: block;
    font-size: 0.82397rem; }
    .hero__meta > a + span:before {
      background: #59585F;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 3px;
      margin: 0 0.5em;
      vertical-align: middle;
      width: 3px; }
  @media all and (min-width: 37.5em) {
    .hero__first-item {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 0; } }
  .hero__image {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    z-index: 1; }
    @media all and (min-width: 37.5em) {
      .hero__image {
        height: calc(30rem + 3vw);
        margin-top: -5.33333rem;
        width: 57%; } }
  .hero__txt {
    position: relative; }
    @media all and (max-width: 37.4375em) {
      .hero__txt {
        margin-top: calc(1.6rem + 1vw); } }
    @media all and (min-width: 37.5em) {
      .hero__txt {
        padding: 0 0 0 10%;
        width: 43%; } }
  .hero__category {
    color: #59585F;
    display: block;
    font-size: 0.7242rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 1.33333rem;
    text-transform: uppercase; }
    .hero__category a {
      color: #59585F;
      text-decoration: none;
      -webkit-transition: all 0.24s ease-out;
      -o-transition: all 0.24s ease-out;
      transition: all 0.24s ease-out; }
    .hero__category a:hover {
      color: #dd2c00; }
    .hero__category a:active {
      color: #dd2c00; }
    .hero__category a:focus {
      color: #dd2c00; }
  .hero .btn, .hero [type=button],
  .hero [type=submit],
  .hero button {
    margin-top: calc(2.4rem + 0.35vw); }
  .hero__rest-items {
    position: relative; }
    @media all and (min-width: 37.5em) {
      .hero__rest-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: calc(1.6rem + 1vw);
        margin-bottom: -5.33333rem; } }
  @media all and (min-width: 37.5em) and (min-width: 37.5em) {
    .hero__rest-items:before {
      top: 25%;
      background: #ffffff;
      content: "";
      display: block;
      height: 75%;
      left: -4%;
      right: -4%;
      position: absolute;
      z-index: 0; } }
  @media all and (min-width: 37.5em) and (min-width: 56.25em) {
    .hero__rest-items:before {
      left: -16.66667%;
      right: -16.66667%; } }
    .hero__rest-items > figure {
      z-index: 1; }
      @media all and (min-width: 37.5em) and (max-width: 56.1875em) {
        .hero__rest-items > figure {
          width: 45%; } }
      @media all and (min-width: 56.25em) {
        .hero__rest-items > figure {
          width: 20%;
          margin: 0; } }
      .hero__rest-items > figure h2 {
        font-size: 1rem;
        margin: 1.6rem 0 0;
        padding: 0 1.6rem; }
      .hero__rest-items > figure img {
        -webkit-transition: all 0.24s ease;
        -o-transition: all 0.24s ease;
        transition: all 0.24s ease;
        width: 100%; }
        .hero__rest-items > figure img:hover {
          opacity: 0.8; }
  .hero .post__image {
    margin-top: calc(1.6rem + 2vw); }
  @media all and (min-width: 37.5em) {
    .post .hero {
      margin-bottom: calc(1.6rem + 1vw); } }

@media all and (min-width: 37.5em) {
  .category--bg-letters {
    position: relative; } }

@media all and (min-width: 37.5em) {
  .category--bg-letters:before {
    content: "Q";
    font: 700 34rem "Playfair Display", serif;
    color: #f7f7f8;
    left: -4%;
    top: calc(20rem + 3vw);
    position: absolute;
    z-index: 0; } }

@media all and (min-width: 56.25em) {
  .category--bg-letters:before {
    left: -16.66667%; } }

@media all and (min-width: 37.5em) {
  .category--bg-letters:after {
    content: "F";
    font: 700 34rem "Playfair Display", serif;
    color: #f7f7f8;
    right: -4%;
    top: calc(80rem + 6vw);
    position: absolute;
    z-index: 0; } }

@media all and (min-width: 56.25em) {
  .category--bg-letters:after {
    right: -16.66667%; } }

.card {
  position: relative;
  z-index: 1;
  text-align: center; }
  .card + .card {
    margin-top: calc(3.2rem + 2vw); }
  @media all and (min-width: 37.5em) {
    .card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      height: calc(30rem + 3vw);
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }
  @media all and (min-width: 37.5em) {
    .card__txt {
      -ms-flex-item-align: center;
      align-self: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 0.9375rem;
      margin: 0 0 0 -12%;
      padding: 0 10%;
      height: 86%;
      position: relative;
      -webkit-transition: all 0.24s ease-out;
      -o-transition: all 0.24s ease-out;
      transition: all 0.24s ease-out;
      -ms-flex-preferred-size: 57%;
      flex-basis: 57%; }
      .card__txt:hover {
        -webkit-box-shadow: 0 0 24px rgba(52, 52, 52, 0.1);
        box-shadow: 0 0 24px rgba(52, 52, 52, 0.1); }
      .card__txt h2 {
        margin: 0; } }
  @media all and (min-width: 37.5em) {
    .card__image {
      -ms-flex-preferred-size: 57%;
      flex-basis: 57%; } }
  .card__image > img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%; }
  .card__meta {
    color: #59585F;
    font-size: 0.82397rem; }
    .card__meta > a + time:before {
      background: #59585F;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 3px;
      margin: 0 0.5em;
      vertical-align: middle;
      width: 3px; }
  .card__desc {
    margin-top: calc(1.6rem + 0.35vw);
    margin-bottom: calc(2.4rem + 0.35vw); }
  @media all and (min-width: 37.5em) {
    .card--featured:before {
      background: #343434;
      border-radius: 50%;
      color: #ffffff;
      font: 400 italic 1.38084rem "Playfair Display", serif;
      display: block;
      height: 10rem;
      left: 50%;
      letter-spacing: 0.05rem;
      line-height: 10rem;
      margin-top: -3.5rem;
      position: absolute;
      width: 10rem;
      z-index: 1;
      -webkit-transform: translate(-50%, 0) rotate(-25deg);
      -ms-transform: translate(-50%, 0) rotate(-25deg);
      transform: translate(-50%, 0) rotate(-25deg); } }

.post__image--left {
  float: left;
  margin: 0 2.66667rem 1.6rem 0;
  max-width: 50%; }

.post__image--right {
  float: right;
  margin: 0 0 1.6rem 2.66667rem;
  max-width: 50%; }

.post__image--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

@media all and (min-width: 56.25em) {
  .post__image--wide {
    margin-left: -25%;
    margin-right: -25%;
    text-align: center; } }

.post__image--wide > img {
  height: auto;
  width: 300%; }

.post__image--full {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%); }
  .post__image--full > img {
    max-width: calc(83rem + 8%);
    margin: 0 auto;
    padding: 0 4%;
    width: 100%; }

.post__entry > :nth-child(1) {
  margin-top: 0; }

.post__entry a:hover {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink; }

.post__video, .post__iframe {
  position: relative;
  display: block;
  margin-top: calc(1.6rem + 0.5vw);
  margin-bottom: calc(1.6rem + 0.5vw);
  overflow: hidden;
  padding: 0;
  width: 100%; }
  .post__video::before, .post__iframe::before {
    display: block;
    content: "";
    padding-top: 56.25%; }
  .post__video--21by9::before, .post__iframe--21by9::before {
    padding-top: 42.857143%; }
  .post__video--4by3::before, .post__iframe--4by3::before {
    padding-top: 75%; }
  .post__video--1by1::before, .post__iframe--1by1::before {
    padding-top: 100%; }
  .post__video > iframe, .post__iframe > iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }

.post__toc ul {
  counter-reset: item;
  list-style: decimal;
  margin: calc(0.53333rem + 0.25vw) 0 0 1rem; }
  .post__toc ul li {
    counter-increment: item;
    padding: 0; }
  .post__toc ul ul {
    margin-top: 0; }
    .post__toc ul ul li {
      display: block; }
      .post__toc ul ul li:before {
        content: counters(item, ".") ". ";
        margin-left: -20px; }

.post__footer {
  margin-top: 3.2rem; }
  @media all and (max-width: 37.4375em) {
    .post__footer {
      text-align: center; } }

.post__last-updated {
  color: #59585F;
  font-size: 0.82397rem;
  font-style: italic;
  margin-bottom: calc(1.6rem + 1vw);
  margin-top: -1.6rem;
  text-align: left; }

.post__share-tag-wrap {
  margin-bottom: calc(1.6rem + 1vw);
  margin-top: -1.6rem;
  text-align: center; }

.post__share {
  border-bottom: 1px solid #343434;
  display: inline-block;
  margin-bottom: 1.06667rem;
  padding-bottom: 0.26667rem; }
  .post__share > h3 {
    margin-bottom: 1.06667rem; }
  .post__share > a {
    display: inline-block;
    padding: 0 0.8rem; }
    .post__share > a:hover {
      text-decoration: none; }
  .post__share .icon {
    pointer-events: none; }
    @media all and (max-width: 37.4375em) {
      .post__share .icon {
        height: 1.33333rem;
        width: 1.33333rem; } }
    @media all and (min-width: 37.5em) {
      .post__share .icon {
        height: 1.06667rem;
        width: 1.06667rem; } }
    .post__share .icon:hover {
      fill: #343434; }

.post__tag {
  margin-left: 0;
  margin-top: 0.53333rem; }
  .post__tag dd,
  .post__tag dt {
    display: inline-block;
    font-size: 0.82397rem;
    list-style: none;
    padding: 0 0.8rem 0 0; }
    .post__tag dd > a,
    .post__tag dt > a {
      color: #59585F;
      text-decoration: none;
      -webkit-transition: all 0.24s ease-out;
      -o-transition: all 0.24s ease-out;
      transition: all 0.24s ease-out; }
    .post__tag dd > a:hover,
    .post__tag dt > a:hover {
      color: #dd2c00; }
    .post__tag dd > a:active,
    .post__tag dt > a:active {
      color: #dd2c00; }
    .post__tag dd > a:focus,
    .post__tag dt > a:focus {
      color: #dd2c00; }
    .post__tag dd > a:before,
    .post__tag dt > a:before {
      content: "#"; }

.post__bio {
  border-top: 1px solid #e3e3e3;
  color: #59585F;
  font-size: 0.82397rem;
  margin-bottom: calc(2.4rem + 1vw);
  padding-top: calc(2.4rem + 1vw);
  text-align: center; }
  .post__bio > img {
    border-radius: 50%;
    height: 4.8rem;
    margin-bottom: 1.6rem;
    width: 4.8rem; }
  .post__bio > h3 {
    margin-top: 0; }

.post__nav {
  border-top: 1px solid #e3e3e3;
  color: #59585F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.82397rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: calc(1.6rem + 1vw);
  padding-top: calc(1.6rem + 1vw); }
  .post__nav__link {
    color: #59585F; }
    @media all and (min-width: 37.5em) {
      .post__nav__link {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    .post__nav__link > img {
      -webkit-transition: all 0.24s ease;
      -o-transition: all 0.24s ease;
      transition: all 0.24s ease;
      width: 100px; }
      @media all and (max-width: 37.4375em) {
        .post__nav__link > img {
          display: none; } }
    .post__nav__link:hover {
      text-decoration: none; }
      .post__nav__link:hover h5 {
        -webkit-transition: all 0.12s linear;
        -o-transition: all 0.12s linear;
        transition: all 0.12s linear;
        color: #dd2c00; }
      .post__nav__link:hover:hover img {
        opacity: 0.8; }
  .post__nav h5 {
    font-size: 0.87891rem;
    margin: 0.26667rem 0 0;
    position: relative; }
  .post__nav__prev {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-align: left; }
  .post__nav__next {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-left: auto;
    text-align: right; }
  @media all and (min-width: 37.5em) {
    .post__nav__text {
      width: 55%; } }

.post__related {
  border-top: 1px solid #e3e3e3;
  margin-bottom: calc(1.6rem + 1vw);
  text-align: center; }
  .post__related__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 1.6rem -2% 0;
    width: 104%; }
    @media all and (min-width: 56.25em) {
      .post__related__wrap {
        -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap; } }
    .post__related__wrap figure {
      margin: 0;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      padding: 0.8rem 2%; }
      @media all and (min-width: 37.5em) {
        .post__related__wrap figure {
          -ms-flex-preferred-size: 33.333%;
          flex-basis: 33.333%; } }
      .post__related__wrap figure a > img {
        -webkit-transition: all 0.24s ease;
        -o-transition: all 0.24s ease;
        transition: all 0.24s ease; }
      .post__related__wrap figure a:hover img {
        opacity: 0.8; }
    .post__related__wrap figcaption > time {
      color: #59585F;
      font-size: 0.82397rem;
      margin: 0 0 0.8rem; }
    .post__related__wrap h4 {
      font-size: 0.87891rem;
      margin: 1.6rem 0 0.53333rem; }

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.87891rem; }

.comments {
  border-top: 1px solid #e3e3e3; }
  .comments > h3 {
    margin-bottom: 1.6rem;
    text-align: center; }

.banner {
  text-align: center; }
  .banner--before-post {
    margin-bottom: calc(1.6rem + 1vw); }
  .banner--after-post {
    margin-top: calc(1.6rem + 1vw); }

.author__thumb {
  border-radius: 50%;
  height: 4.8rem;
  width: 4.8rem; }

.search-page__form {
  margin-top: calc(1.6rem + 1vw); }

.search-page__input {
  width: 100%; }

.gsc-control-cse {
  padding: 0; }

.gs-webResult {
  border-top: 1px solid #e3e3e3;
  padding-top: 1rem; }

.gsc-table-result {
  margin-top: 0.53333rem;
  white-space: initial; }
  .gsc-table-result td {
    padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.msg {
  padding: 1.06667rem 1.6rem; }
  .msg--highlight {
    background-color: #fff7e5; }
  .msg--info {
    background-color: #d9edf7; }
  .msg--success {
    background: #d5efc2; }

.dropcap:first-letter {
  color: #343434;
  float: left;
  font-family: "Playfair Display", serif;
  line-height: 0.6;
  margin-right: 0.53333rem;
  padding: 0.53333rem 0.53333rem 0.53333rem 0; }
  .dropcap:first-letter {
    font-size: 2.8084rem; }
    @media screen and (min-width: 20rem) {
      .dropcap:first-letter {
        font-size: calc(2.8084rem + 1.898 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      .dropcap:first-letter {
        font-size: 4.70641rem; } }

/* Pagination ------------------------ */
.pagination {
  margin-top: calc(3.2rem + 2vw);
  text-align: center;
  width: 100%; }
  @media all and (min-width: 37.5em) {
    .pagination > a + a {
      margin-left: 0.53333rem; } }

/* Footer ------------------------ */
.footer {
  border-top: 1px solid #e3e3e3;
  overflow: hidden;
  margin-top: calc(6rem + 1vw);
  padding-top: calc(3.2rem + 1vw);
  text-align: center; }
  .footer__newsletter {
    margin-bottom: calc(2.66667rem + 1.6vw); }
  .newsletter {
    color: #59585F; }
    .newsletter__note {
      font-size: 0.77248rem;
      font-style: italic;
      margin: 0 0 calc(0.8rem + 0.5vw); }
    .newsletter input[type=email],
    .newsletter input[type=text] {
      border: none;
      border-bottom: 1px solid #d6d6d6;
      display: block;
      margin: 0.26667rem 0;
      padding: 0.53333rem 0; }
      @media all and (min-width: 37.5em) {
        .newsletter input[type=email],
        .newsletter input[type=text] {
          font-size: 0.9375rem;
          margin-bottom: 0;
          width: 100%; } }
    .newsletter label {
      position: absolute;
      opacity: 0; }
    .newsletter ul {
      margin: calc(0.8rem + 0.5vw) auto;
      text-align: left; }
      @media all and (min-width: 37.5em) {
        .newsletter ul {
          max-width: 90%; } }
      .newsletter ul li {
        list-style: none;
        padding-left: 0; }
        .newsletter ul li label {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          font-weight: 400;
          font-size: 0.87891rem;
          margin: 0;
          position: relative;
          opacity: 1; }
          .newsletter ul li label:before {
            -ms-flex-negative: 0;
            flex-shrink: 0; }
  .footer .logo {
    display: block;
    font-size: 1.38084rem;
    margin-bottom: calc(1.06667rem + 0.25vw); }
    @media all and (min-width: 56.25em) {
      .footer .logo {
        font-size: 1.90672rem; } }
  .footer__nav {
    margin-bottom: calc(1.6rem + 0.5vw); }
    .footer__nav ul {
      margin: 0; }
      .footer__nav ul li {
        display: inline-block;
        font-size: 0.67893rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        margin: 0 1.06667rem;
        text-transform: uppercase; }
  .footer__social > a {
    display: inline-block;
    padding: 0 0.8rem; }
    @media all and (min-width: 37.5em) {
      .footer__social > a {
        padding: 0 0.53333rem; } }
  .footer__social .icon {
    fill: rgba(52, 52, 52, 0.8);
    height: 1rem;
    width: 1rem; }
  .footer__copyright {
    border-top: 1px solid #e3e3e3;
    color: #59585F;
    font-size: 0.624rem;
    letter-spacing: 1px;
    margin-top: calc(3.2rem + 1vw);
    padding-top: calc(1.6rem + 1vw);
    text-transform: uppercase; }
    @media all and (max-width: 37.4375em) {
      .footer__social + .footer__copyright {
        padding-top: 0.53333rem; } }

.icon {
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out; }

.gallery {
  margin: calc(1.6rem + 1vw) -0.53333rem; }
  @media all and (min-width: 20em) {
    .gallery {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media all and (min-width: 20em) {
    .gallery[data-columns="1"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
      flex: 1 0 100%; } }
  @media all and (min-width: 30em) {
    .gallery[data-columns="2"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
      flex: 1 0 50%; } }
  @media all and (min-width: 37.5em) {
    .gallery[data-columns="3"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
      flex: 1 0 33.333%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="4"] .gallery__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
      flex: 0 1 25%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="5"] .gallery__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
      flex: 0 1 20%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="6"] .gallery__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
      flex: 0 1 16.666%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="7"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 14.285%;
      flex: 1 0 14.285%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="8"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 12.5%;
      flex: 1 0 12.5%; } }
  .gallery__item {
    margin: 0;
    padding: 0.53333rem;
    position: relative; }
    @media all and (min-width: 20em) {
      .gallery__item {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%; } }
    @media all and (min-width: 30em) {
      .gallery__item {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
        flex: 1 0 33.333%; } }
    @media all and (min-width: 37.5em) {
      .gallery__item {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
        flex: 1 0 25%; } }
    .gallery__item a {
      display: block;
      height: 100%;
      width: 100%; }
      .gallery__item a::after {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(52, 52, 52, 0.4)), to(rgba(0, 0, 0, 0)));
        background: -webkit-linear-gradient(bottom, rgba(52, 52, 52, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        background: -o-linear-gradient(bottom, rgba(52, 52, 52, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(bottom, rgba(52, 52, 52, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        bottom: 0.53333rem;
        content: "";
        display: block;
        opacity: 0;
        left: 0.53333rem;
        height: calc(100% - 1.06667rem);
        position: absolute;
        right: 0.53333rem;
        top: 0.53333rem;
        -webkit-transition: all .24s ease-out;
        -o-transition: all .24s ease-out;
        transition: all .24s ease-out;
        width: calc(100% - 1.06667rem); }
      .gallery__item a:hover::after {
        opacity: 1; }
    .gallery__item img {
      display: block;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%; }
    .gallery__item figcaption {
      bottom: 1.2rem;
      color: #ffffff;
      left: 50%;
      opacity: 0;
      position: absolute;
      text-align: center;
      -webkit-transform: translate(-50%, 1.2rem);
      -ms-transform: translate(-50%, 1.2rem);
      transform: translate(-50%, 1.2rem);
      -webkit-transition: all .24s ease-out;
      -o-transition: all .24s ease-out;
      transition: all .24s ease-out; }
    .gallery__item:hover figcaption {
      opacity: 1;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }

.pswp--dark .pswp__bg {
  background: #343434; }

.pswp--light .pswp__bg {
  background: #ffffff; }

.pswp--light .pswp__counter {
  color: #343434; }

.pswp--light .pswp__caption__center {
  color: #343434; }
